{% extends "base.html" %} {% load static %} {% block content %}

<!-- Text that describes the idea of the bussiness-->
<div class="row no-gutters">
  <div class="col-sm-12 col-md-8 col-lg-8">
    <div class="d-flex justify-content-center presentation_text">
      <p>
        Finns det en längtan inom dig att kunna älska dig själv fullt ut utan
        tvivel på din egna kapacitet att värdesätta dig och dina behov? Jag
        heter Sussie Johansson och har själv gjort en resa från stress,
        depressioner, ångest, dålig självkänsla och vilsenhet till att börja
        LEVA mer för MIN SKULL, älska och värdesätta mig själv! Jag vet att det
        är möjligt att förändra sitt liv, att allt är möjligt och jag hjälper
        dig gärna att finna din unika väg i livet. Jag brinner nu för att stötta
        dig i din förändringsprocess och min specialitè är att guida dig att nå
        din inre källa av visdom, kärlek och kraft och att kunna frigöra
        blockeringar och begränsningar du upplever i ditt liv! Jag brinner för
        att hjälpa dig till att uppleva och LEVA MERA i djup och kärleksfull
        närvaro med dig själv och din omvärld. Välkommen att boka din session!
        -Lyssna på din inre vägledning och ditt hjärtas intelligens, du har alla
        svaren inom dig! Kärlek Sussie Johansson SoulSpark
      </p>
      <h3 class="signature">- Soulcoach, Sussi Johansson</h3>
    </div>
  </div>
  <!-- Picture of bussiness owner-->
  <div class="col-4 image" alt="Sussi Johansson"></div>
</div>
{% endblock %}
